@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}


body {
    font-size: 100%;
}



header {
    background-color: #dd7525;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    max-width: 992px;
    margin: auto;
}

.container-header {
    display: flex;
    align-items: center;
}

.container-header hgroup{
    padding: 30px;
    align-items: flex-start;
}

.container-header h1 {
    font-family: 'Trispace', sans-serif;
    font-size: 30px;
}

.container-header h3 {
    font-family: 'Trispace', sans-serif;
    font-size: 14px;
}

.container-header img {
    padding-left: 180px;
}

nav {
    display: flex;
    align-items: flex-end;
    padding-right: 30px;

}

nav h3 {
    display: none;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;

}

nav ul li a {
    padding: 5px;
    color: #fff1e3;
}

main {
    max-width: 992px;
    margin: auto;
    
}

.conteudo1 {
    display: flex;
}

main .conteudo1 {
    background-color: #fff1e3;
    height: 300px;
}

.conteudo2 {
    display: flex;
}

main .conteudo2 {
    background-color: #dd7525;
    height: 300px;
}

footer {
    background-color: #fff1e3;
    max-width: 992px;
    margin: auto;
    height: 100px;
    display: flex;
}

